{% extends "pages/teacher/teacher_marks.html" %}
{% load static %}

{% block title %}
    <title>Adicionar Notas por Estudande</title>    
{% endblock %}

{% block further_style %}
	<style>
		.attendance-by-list {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.form-filter {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
		}
		.form-filter .form-row {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.form-filter .form-row label {
			font-size: 12px;
		}
		.filter-section .option {
			padding: 5px;
			background-color: #f6f6f7;
			list-style: none;
			color: black;
		}
		.filter-section .option .por-lista {
			border-top-left-radius: 16px;
			border-bottom-left-radius: 16px;
		}
		.filter-section .option .qr-code { 
			border-top-right-radius: 16px;
			border-bottom-right-radius: 16px;
		}
	</style>
{% endblock %}

{% block take_attendance %}
	<div class="attendance-by-list">
		<form method="post" class="form-filter">
			<div class="form-row">
				<label for="id_year">Ano</label>
				{{ form.year }}
			</div>
			<div class="form-row">
				<label for="id_semester">Semestre</label>
				{{ form.semester }}
			</div>
			<div class="form-row">
				<label for="id_classe">Classe</label>
				{{ form.classe }}
			</div>
			<div class="form-row">
				<label for="id_turma">Turma</label>
				{{ form.turma }}
			</div>
			<div class="form-row">
				{% csrf_token %}
				<label class="hide-dot">.</label>
				<input type="submit" value="Pesquisar">
			</div>
		</form>
		<div class="attendance-result">
			{% if students %}
				<div class="take-attendance-div">
					<div>
						<label for="id_take_attendance">Disciplina</label>
						<select name="" id="id_take_attendance">
							{% for subject in teacher_subjects %}
								<option value="{{ subject }}">{{ subject }}</option>
							{% endfor %}
						</select>
					</div>
					<div>
						<label for="id_test_name">Nome da availacao</label>
						<select name="" id="id_test_name">
							<option value="ACS 1">ACS 1</option>
							<option value="ACS 2">ACS 2</option>
							<option value="ACS 3">ACS 3</option>
							<option value="ACS 3">AT</option>
						</select>
					</div>
					<div>
						<label>Submeter</label>
						<button class="add-marks" onclick="uploadMarks()">Adicionar notas</button>
					</div>
				</div>
				<div class="empty-mark-error"></div>
				<table>
					<thead>
						<tr>
							<th style="border-top-left-radius:16px;border-bottom-left-radius:16px">#</th>
							<th>Primeiro nome</th>
							<th>Ultimo nome</th>
							<th style="border-top-right-radius:16px;border-bottom-right-radius:16px;">Nota</th>
						</tr>
					</thead>
					<tbody>
						{% for student in students %}
							<tr class="tr-tbody">
								<td>{{ forloop.counter }}</td>
								<td class="first-name-{{ student.pk }}">{{ student.first_name }}</td>
								<td class="last-name-{{ student.pk }}">{{ student.last_name }}</td>
								<td class="student-mark">
									<span class="mark-error-{{ student.pk }}"></span>
									<input type="number" class="mark-{{ student.pk }}" step="0.01" min="0" max="20" name="" class="attended-class-option" id="id_attended_{{ student.pk }}">
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<span>
					Nao foram encontrados estudantes
					{% if classe_name %} na {{ classe_name }}{% endif %}
					{% if turma_name %} Turma {{ turma_name }},{% endif %}
					{% if semester_name %} {{ semester_name}} Semestre{% endif%}
					{% if year_name %} de {{ year_name }}{% endif %}
				</span>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script>
		const rangeFunc = (start, stop, step) => Array.from({ length: (stop - start) / step + 1}, (_, i) => start + (i * step))
		const RANGE = rangeFunc(1, 10000, 1);
		let subject = document.getElementById('id_take_attendance');
		let testName = document.getElementById('id_test_name');
		let emptyMarkError = document.querySelector('.empty-mark-error');

		// const randomValue = () => Math.round(Math.random() * 20);
		function getRandomMark(min=6, max=20) {
			let number = Math.floor(Math.random() * (max - min)) + min;
			return number;
		}
		
		for (let i of RANGE) {
			try {
				let mark = document.querySelector(`.mark-${ i }`);
				mark.value = getRandomMark();
				let markError = document.querySelector(`.mark-error-${ i }`);
				mark.addEventListener('input', e => {
					let value = e.target.value;
					if (parseFloat(value) > 20 || parseFloat(value) < 0) {
						markError.textContent = 'Nota deve ser entre 0 e 20';
						markError.style.color = 'red';
						markError.style.fontStyle = 'italic';
						mark.style.outline = '2px solid red';
						// mark.value = randomValue();
					} else {
						markError.textContent = '';
						mark.style.outline = 'none';
						// mark.value = randomValue();
					}
				})
			} catch (e) {
				//
			}
		}
		
		function uploadMarks() {
			let yearName = '{{ year_name }}';
			let semesterName = '{{ semester_name }}';
			let classeName = '{{ classe_name }}';
			let turmaName = '{{ turma_name }}';
			let csrfToken = '{{ csrf_token }}';
			let data = [];
			let hasEmptyValues = false;
			for (let i of RANGE) {
				try {
					let firstName = document.querySelector(`.first-name-${ i }`);
					let lastName = document.querySelector(`.last-name-${ i }`);
					let mark = document.querySelector(`.mark-${ i }`);
					let row = {
						'student-pk': i,
						'first-name': firstName.textContent,
						'last-name': lastName.textContent,
						'mark': mark.value,
						'subject': subject.value,
						'test-name': testName.value,
						'year-name': yearName,
						'semester-name': semesterName,
						'classe-name': classeName,
						'turma-name': turmaName
					};
					if (mark.value === '') {
						hasEmptyValues = true;
					}
					data.push(row);
					// console.log(JSON.stringify(row, undefined, 4));
				} catch (e) {
					// console.log(e);
				}
			}
			// console.log(JSON.stringify(data, undefined, 4));
			if (hasEmptyValues) {
				$(window).scrollTop(0);
				emptyMarkError.textContent = 'Preencha todas notas dos alunos';
				emptyMarkError.style.backgroundColor = 'red';
				emptyMarkError.style.color = 'black';
			} else {
				$(window).scrollTop(0);
				emptyMarkError.textContent = 'As notas foram submetidas com sucesso';
				emptyMarkError.style.backgroundColor = '#46ACC2';
				emptyMarkError.style.color = 'white';
				
				fetch('/teacher_add_marks_api/', {
					method: 'POST',
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json',
						'X-CSRFToken': csrfToken
					},
					body: JSON.stringify(data)
				})
					.then(res => res.json())
					.then(data => {
						console.log(data);
					})
					.catch(err => console.error(err));
					
			}
		}
	</script>
{% endblock %}
