{% load static %}
{% load format_words %}

<div class="Navbar">
    <div class="Navbar__Link Navbar__Link-brand">
        <a href="{% url 'app2:home' %}" class="page-logo">
            <img class="site-logo" src="{% static 'Liceu_Avicena_2.PNG' %}">
            <span>"Muito além do ensino"</span>
        </a>
    </div>
    <div class="Navbar__Link Navbar__Link-toggle">
        <!-- <i class="fas fa-bars">☰</i> -->
        <span>☰</span>
    </div>
    <!--
    <nav class="Navbar__Items">
        <div class="Navbar__Link">
            <a href="{% url 'app2:home' %}" class="school-name">
                Liceu Avicena
            </a>
        </div>
    </nav>
    -->
    <nav class="Navbar__Items Navbar__Items--right">
        <div class="Navbar__Link">
            <a class="header-link estudantes" href="{% url 'app2:lista_de_estudantes' %}">Estudantes</a>
        </div>
        <div class="Navbar__Link">
            <a class="header-link professores" href="{% url 'app2:ver_list_de_professores' %}">Professores</a>
        </div>
        <div class="Navbar__Link">
            <a class="header-link horarios" href="{% url 'app2:timetable_view' %}">Horarios</a>
        </div>
        {% if request.user.is_authenticated %}
            <div class="Navbar__Link">
                <a class="header-link perfil" href="{% url 'app2:profile' %}">
					Perfil - {{ request.user.first_name|get_first_letter }}{{ request.user.last_name|get_first_letter }}
				</a>
            </div>
            <div class="Navbar__Link">
                <a class="header-link" href="{% url 'app2:logout' %}">Sair</a>
            </div>
        {% else %}
            <div class="Navbar__Link">
                <a class="header-link" href="{% url 'app2:login' %}">Login</a>
            </div>
        {% endif %}
    </nav>
</div>


<script>
    function classToggle() {
        const navs = document.querySelectorAll('.Navbar__Items');
        navs.forEach(nav => nav.classList.toggle('Navbar__ToggleShow'));
    }
      
    document.querySelector('.Navbar__Link-toggle').addEventListener('click', classToggle);
</script>