{% extends "baseAdmin.html" %}
{% load format_words %}

{% block title %}
	<title>Lista de Professores</title>
{% endblock %}

{% block style %}
	<style> 
		.student-page {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: flex-start;
			margin-top: 20px;
		}
		.left-section {
			width: 25%;
			max-width: 250px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			background-color: white;
			padding: 10px;
			border: 1px solid #ccc;
		}
		.left-section a {
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
			width: 97%;
			text-decoration: none;
			background-color: #f6f6f7;

			color: black;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
			text-decoration: none;
			border-bottom: 1px solid #ccc;
		}
		.right-section {
			width: 68%;
			display: flex;
			flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            background-color: white;
            border-radius: 40px;
            padding: 15px;
		}
        .teacher-title {
            font-size: 20px;
            font-weight: bold;
            border-bottom: 3px solid #46ACC2;
            padding-bottom: 0px;
            margin: 3px 0px 12px 0px;
        }
        .teacher-school-details-info .form-section {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
            margin-bottom: 8px;
		}
        .form-section .row {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
        }
        .form-section .row label {
            font-size: 12px;
        }
        .form-section .row .hide-dot {
            color: white;
        }
        .semesters-registered {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .semesters-registered .semester-exist {
            margin-bottom: 6px;
            font-size: 12px;
            background-color: #d69b42;
            padding: 5px;
            border-radius: 16px;
            color: black;
            font-weight: bold;
        }
        .semesters-registered table {
			width: 100%;
			border-collapse: collapse;
		}
		.semesters-registered th {
			font-size: 13px;
		}
		.semesters-registered th,
		.semesters-registered td {
			padding: 5px;
            text-align: center;
		}
		.semesters-registered td {
			font-size: 12px;
		}
        .semesters-registered .tr-tbody {
            border-bottom: 1px solid #ccc;
            text-align: center;
        }
        .tr-tbody .semester-subjects {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .tr-tbody .semester-subjects ol li {
            border-bottom: 1px solid #ccc;
        }
        


		.active-link-student {
			font-weight: bold;
			background-color: #d1d5da !important;
		}
		.active-sublink-student {
			color: white !important;
			/*font-weight: bold;*/
			background-color: #46ACC2 !important;
		}

		@media only screen and (max-width: 768px) {
			.student-page {
				width: 90%;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			.filter-section {
				flex-direction: column;
			}
			.left-section {
				width: 100%;
			}
			.right-section {
				width: 100%;
			}
            .teacher-info {
                align-items: flex-start;
                justify-content: flex-start;
            }
		}


        input[type="text"],
        input[type="email"] {
            outline: none;
            border: 1px solid #ccc;
            border-radius: 20px;
            height: 26px;
            padding-left: 6px;
            text-align: center;
        }
        input[type="password"] {
            outline: none;
            border: 1px solid white;
            border-radius: 20px;
            height: 26px;
            padding-left: 6px;
            text-align: center;
        }
        select,
        input[type="submit"],
        input[type="date"] {
            outline: none;
            border: 1px solid #ccc;
            border-radius: 20px;
            height: 30px;
            width: 167px;
            text-align: center;
        }
        input[type="submit"] {
            cursor: pointer;
            color: white;
            background-color: #46ACC2;
        }
        .toggle-symbol {
            height: 0px;
            width: 0px;
            rotate: 90deg;
            padding: 0px;
            margin-bottom: 7px;
        }
        .hide-show {
            display: none;
        }
        .error {
            background-color: red;
            border-radius: 16px;
            padding: 4px;
            margin: 5px;
            font-size: 13px;
            font-style: italic;
        }
        .hightlight-input-field {
            border: 2px solid red;
        }
        @media only screen and (max-width: 600px) {
            
        }
	</style>
{% endblock %}

{% block inner_style %}{% endblock %}

{% block content %}
	<div class="student-page">
		<div class="left-section">
			<a href="{% url 'app2:teacher_list_details' %}" class="estudantes-detalhes" title="Click para ver lista de estudantes">
				<span>Lista de professores</span>
			</a>
			<a href="{% url 'app2:teacher_attedances_page' %}" class="estudantes-presenca" title="Click para ver lista de presenças">
				<span>Presenças nas aulas</span>
			</a>
			<a href="{% url 'app2:teacher_timetables' %}" class="estudantes-horarios" title="Click para ver horarios">
				<span>Horarios</span>
			</a>
			<a href="{% url 'app2:register_teacher' %}" class="estudantes-registar" title="Click para registar professor">
				<span>Registar Professor</span>
			</a>
		</div>
		<div class="right-section">
            <div class="teacher-title">
                <span>Disciplinas Lecionadas pelo Professor: {{ teacher.fullname }}</span>
            </div>
            
            <div class="teacher-school-details-info">
                <form method="post" class="form-section">
                    <div class="row">
                        <label for="id_academic_year">Ano Academico</label>
                        {{ form.academic_year }}
                    </div>
                    <div class="row">
                        <label for="id_semester">Semestre</label>
                        {{ form.semester }}
                    </div>
                    <div class="row">
                        <label for="id_first_name">Classe</label>
                        {{ form.classe }}
                    </div>
                    <div class="row">
                        <label for="id_last_name">Turma</label>
                        {{ form.turma }}
                    </div>
                    <div class="row">
                        <label for="id_subject">Disciplina</label>
                        {{ form.subject }}
                    </div>
                    <div class="row">
                        {% csrf_token %}
                        <span class="hide-dot">.</span>
                        <input type="submit" class="register-subject" value="Registar">
                    </div>
                </form>
            </div>
            <div class="semesters-registered">
                {% if semester_exists %}
                    <span class="semester-exist">{{ semester_exists }}</span>
                {% endif %}
                <table>
                    <thead>
                        <th style="border-top-left-radius:16px;border-bottom-left-radius:16px;">#</th>
                        <th>Ano</th>
                        <th>Semestre</th>
                        <th>Classe</th>
                        <th>Turma</th>
                        <th style="border-top-right-radius:16px;border-bottom-right-radius:16px;">Disciplina</th>
                    </thead>
                    <tbody>
                        {% for semester in semesters %}
                            <tr class="tr-tbody">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ semester.year }}</td>
                                <td>{{ semester.name }}</td>
                                <td>{{ semester.classe }}</td>
                                <td>{{ semester.turma }}</td>
                                <td class="semester-subjects">
                                    <ol>
                                        {% for subject in semester.subjects.all %}
                                            <li>{{ subject }}</li>
                                        {% endfor %}
                                    </ol>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
	</div>
{% endblock %}

{% block javascript %}
	<script>		
		let marks = document.querySelectorAll('.mark');
        for (let mark of marks) {
			mark.style.fontWeight = 'bold';
			if (parseFloat(mark.textContent) < 9) {
				mark.style.color = 'red';
			} else {
				mark.style.color = 'teal';
			}
        }


		let allTrs = document.querySelectorAll('.tr-tbody');
		for (let tr of allTrs) {
			tr.addEventListener('click', e => {
				if (tr.classList.contains('highlight-tr')) {
					tr.classList.remove('highlight-tr');
				} else {
					tr.classList.add('highlight-tr');
				}
			});
		}

		urls1 = ['estudantes-detalhes', 'estudantes-presenca'];
		
		checkActiveLink();
		function checkActiveLink() {	
			for (let url of urls1) {
				// console.log(localhost + url, localhost + url + '/' === window.location.href)
				// console.log(document.querySelector(`.${url}`));
				// console.log(localhost + url, localhost + url + '/')

				if (localhost + url + '/' === window.location.href) {
					let currentURL = document.querySelector(`.${url}`);
					currentURL.classList.add('active-link-student');
					let header = document.querySelector('.estudantes');
					header.classList.add('active-link');
				} else {
					let currentURL = document.querySelector(`.${url}`);
					currentURL.classList.remove('active-link-student');
				}
			}
		}

        function toggleRow(classBtn, rowInfoDiv) {
            let btn = $(`.${ classBtn }`);
            let rowTag = $(`.${ rowInfoDiv }`);
            btn.click(function() {
                rowTag.toggleClass('hide-show');
                // teacherPersonalDetailsInfo.fadeToggle();
            });
        }
	</script>
{% endblock %}

